## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Clean and combine all datasets from NYC

In [2]:
boroughs = ['manhattan', 'brooklyn', 'bronx', 'queens', 'statenisland']

In [3]:
# Define a funciton to clean and combine all datasets 
def clean_and_combine_all_boroughs(list_of_boroughs):
    df_list = []
    for borough in list_of_boroughs:
        # read in csv
        df_borough = pd.read_csv(f'../../data/raw_nyc_dept_fin_data/{borough}.csv', thousands=',')
        # format column names
        df_borough.columns = [i.strip().lower().replace(' ', '_') for i in df_borough.columns]
        # drop empty rows created when export .xls as csv
        df_borough = df_borough[np.isfinite(df_borough['borough'])]
        # drop column 'ease-ment' that are all NaN
        df_borough = df_borough.drop(columns=['ease-ment'])
        df_list.append(df_borough)
    return pd.concat(df_list)

In [4]:
df = clean_and_combine_all_boroughs(boroughs)

## Initial Data Cleaning

### Change data types

In [5]:
list_of_col_to_int = ['borough', 'block', 'zip_code', 'year_built', 'tax_class_at_time_of_sale']

In [6]:
def col_convert_float_to_int(col_list, df):
    for i in col_list:
        df[i] = df[i].astype('Int64')
    return df

In [7]:
df = col_convert_float_to_int(list_of_col_to_int, df)

## Engeiner the column 'price_per_sqft'

In [8]:
df['price_per_sqft'] = df['sale_price'] / df['gross_square_feet']

In [9]:
df.head()

,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,building_class_at_present,address,apartment_number,zip_code,...,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date,price_per_sqft
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,376,43.0,S1,743 EAST 6TH STREET,NaN,10009,...,1.0,2.0,2090.0,3680.0,1940,1,S1,3200000.0,7/24/19,869.565217
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61.0,A4,189 EAST 7TH STREET,NaN,10009,...,0.0,1.0,987.0,2183.0,1860,1,A4,0.0,9/25/19,0.000000
2,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,404,1.0,B9,166 AVENUE A,NaN,10009,...,0.0,2.0,1510.0,4520.0,1900,1,B9,0.0,7/22/19,0.000000
3,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377,56.0,C0,263 EAST 7TH STREET,NaN,10009,...,0.0,3.0,2430.0,3600.0,1899,1,C0,6300000.0,4/30/19,1750.000000
4,1,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,393,9.0,C0,604 EAST 11TH STREET,NaN,10009,...,0.0,3.0,2375.0,5110.0,1939,1,C0,0.0,10/24/19,0.000000

## Export as .csv

In [10]:
df.to_csv('../../data/nyc_dept_fin.csv', index=False)